.card__education {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  border-left: 3px solid var(--theme-light-primary);
  padding: 1rem;

  &--header {
    &-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    &-subtitle {
      margin-bottom: 1rem;
      & span {
        font-size: 1rem;
        font-weight: 400;
        color: var(--theme-light-label);
      }
    }
  }
  &--body {
      &-description {
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5;
        text-align: justify;
        font-weight: normal;
        white-space: pre-line;
      }
  }

  &--footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;

    & button {
      background-color: transparent;
    }

    & button:nth-child(1) {
      color: var(--theme-light-info);
    }

    & button:nth-child(2) {
      color: var(--theme-light-danger);
    }
  }
}

// TRANSITION EFFECTS

.list-item {
  width: 100%;
}

.item-enter {
  opacity: 0;
  transform: scale(0.1);
}
.item-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 250ms ease-in;
}
.item-exit {
  transform: scale(1);
  opacity: 1;
}
.item-exit-active {
  transform: scale(0);
  opacity: 0;
  transition: all 250ms ease-in;
}
