.card-education {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  border-left: 3px solid var(--theme-light-primary);
  padding: 2.5rem;

  &-title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  &-subtitle {
    margin-bottom: 0.5rem;

    & span {
      font-size: 0.9rem;
      font-weight: normal;
    }
  }

  &-description {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  &-link {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
    color: var(--theme-light-primary);
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--theme-light-primary);
      text-decoration: underline;
    }
  }

  &-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;

    & button {
      background-color: transparent;
    }

    & button:nth-child(1) {
      color: var(--theme-light-info);
    }

    & button:nth-child(2) {
      color: var(--theme-light-danger);
    }
  }
}
