.wrapper {
  display: flex;
  flex-direction: column;

  & span {
    font-size: 0.8em;
    color: var(--theme-light-danger);
  }

  & input {
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 0.618rem;

    &:focus{
      border: 1px solid var(--theme-light-info);
      border-color: var(--theme-light-info);
    }
  }
  .error {
    border: 1px solid var(--theme-light-danger);
    border-color: var(--theme-light-danger);
  }

}