.login {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  &__panel {
    width: 50%;
    background: var(--theme-light-primary);
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
      font-size: 3rem;
      color: var(--theme-light-background);
      margin-bottom: 20px;
    }
  }

  &__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;

    &-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: var(--theme-light-background);

      &__icon {
        margin-bottom: 20px;
        font-size: 5rem;
        color: var(--theme-light-info);
      }

      & h1 {
        display: none;
      }

      & form {
        width: 100%;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;

        & div {
          margin-bottom: 1rem;
        }

        & a {
          text-decoration: none;
          font-size: 1em;
          margin-top: 10px;
          text-align: center;
        }
      }
    }
    &--action {
      display: flex;
      flex-direction: column;
    }
  }

  // breakpoint for mobile
  @media screen and (max-width: 768px) {
    &__panel {
      display: none;
    }

    &__form {
      width: 100%;

      &-title {
        height: 50%;

        & h1 {
          display: block;
          &__panel {
            display: none;
          }
          &__form {
            width: 100%;
            padding: 0 2rem;

            &- {
              & form {
                padding: 4rem 0;
              }
              & h1 {
                display: block;
                font-size: 3rem;
                font-weight: 400;
              }
            }
          }
          font-size: 2rem;
          color: var(--theme-light-info);
          margin-bottom: 20px;
        }

        & form {
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
