.about__form {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    align-self: flex-start;
    color: var(--theme-light-label);
    margin-bottom: 2rem;
  }
  & form {
    width: 100%;
    display: flex;
    flex-direction: column;

    & div {
      margin-bottom: 1rem;
    }

    & a {
      text-decoration: none;
      font-size: 1em;
      margin-top: 10px;
      text-align: center;
    }
  }

  // breakpoint for mobile
  @media screen and (max-width: 768px) {
    & form {
      padding: 4rem 0;
    }
    & h1 {
      display: block;
      font-size: 3rem;
      font-weight: 400;
    }
  }
}
