.timeline {
  --card-gap: 4rem;
  --top--size: 2rem;

  position: relative;
  width: 100%;
  max-width: 60.625rem;
  margin: 0 auto;

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // &-item {
    //   position: relative;
    //   width: calc(50% - var(--card-gap));
    // }

    // &-card {
    //   position: relative;
    //   background-color: #fff;
    //   box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    //   border-left: 3px solid var(--theme-light-primary);
    //   padding: 2.5rem;

    //   &-title {
    //     font-size: 1.5rem;
    //     font-weight: 400;
    //     margin-bottom: 0.5rem;
    //   }

    //  p

    &-item + &-item {
      margin-top: -4rem;
    }

    // &-item:nth-child(even) {
      

    //   & .education__container-cicle {
    //     left: auto;
    //     right: calc(100% + var(--card-gap) - var(--circle-size) / 2 - 2px);
    //   }

    //   & .education__container-cicle::before {
    //     left: 100%;
    //     right: auto;
    //   }

    //   & .education__container-card {
    //     border-left: none;
    //     border-right: 3px solid var(--theme-light-primary);
    //   }
    // }

    &-cicle {
      --circle-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: var(--circle-size);
      height: var(--circle-size);
      border-radius: 50%;
      background-color: var(--theme-light-primary);
      top: calc(20% - 25px);
      left: calc(100% + var(--card-gap) - var(--circle-size) / 2 + 2px);

      &::before {
        content: "";
        position: absolute;
        width: calc(var(--card-gap) - 50%);
        border: 2px solid var(--theme-light-primary);
        top: 50%;
        right: 100%;
        z-index: -2;
      }

      & span {
        font-size: 2rem;
        color: #fff;
        font-weight: 900;
      }
    }
  }

  &__divider {
    position: absolute;
    top: var(--top--size);
    left: calc(50%);
    height: calc(100% - var(--top--size));
    border: 2px solid var(--theme-light-primary);
  }

  //breakpoint
  @media (max-width: 768px) {
    &__container {
      &-item {
        width: 100%;
      }
      & .education__container-cicle::before {
        display: none;
      }

      &-item + &-item {
        margin-top: 1rem;
      }

      & .education__container-cicle {
        left: calc(100% - var(--circle-size) - 1rem);
        z-index: 1;
        right: auto;
      }

      &-item:nth-child(even) {
        align-self: flex-start;

        & .education__container-cicle {
          left: calc(100% - var(--circle-size) - 1rem);
          z-index: 1;
          right: auto;
        }

        & .education__container-cicle::before {
          display: none;
          left: auto;
          right: 100%;
        }

        & .education__container-card {
          border-left: 3px solid var(--theme-light-primary);
          border-right: none;
        }
      }
    }
  }
}
