.card__experience {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  border-left: 3px solid var(--theme-light-primary);
  padding: 1rem;

  &--header {
    &-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    &-subtitle {
      margin-bottom: 1rem;

      & span {
        font-size: 1rem;
        font-weight: 400;
        color: #000;
      }
    }
  }

  &--body {
    &-description {
      font-size: 1rem;
      font-weight: normal;
      margin-bottom: 0.5rem;
      text-align: justify;
      white-space: pre-line;
      line-height: 1.5;
    }
  }

  &--footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;

    & button {
      background-color: transparent;
      &:hover {
        background-color: var(--theme-light-hover);
        box-shadow: inset 0 0 0 0.125rem var(--theme-light-hover);
        transition: all 0.3s ease-in-out;
      }
    }

    & button:nth-child(1) {
      color: var(--theme-light-info);
    }

    & button:nth-child(2) {
      color: var(--theme-light-danger);
    }
  }
}
