.education {
  margin-bottom: 4rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    & img {
      width: 3.125rem;
      height: 3.125rem;
      margin-right: 0.625rem;
    }
    & h2 {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  &__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(calc(100% - 1.25rem));

    & button:hover {
      box-shadow: 0 0 0 0.125rem var(--theme-light-primary);
      transition: all 0.3s ease-in-out;
    }
    &--action {
      display: flex;
      align-items: center;
      & svg {
        color: #fff;
      }
      
      & span {
        color: #fff;
        margin-left: 0.125rem;
      }
    }
  }
  @media (max-width: 768px) {
    &__button {
      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
